doctype html
head
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
  link(rel="stylesheet", href="/stylesheets/index.css")
html
  body
    .container
      .row
        .col-sm-9.video
          #player
          #banner
            img.img-fluid(src='/images/back.jpg', alt='Responsive image')
        .col-sm-3
          button.btn.btn-dark.addmusic(type='button', data-toggle='modal', data-target='#exampleModal')
            | Launch demo modal
          table.table.table-striped.table-dark
            thead
              tr
                th.idcount(scope='col') #
                th.musicname(scope='col') music
                th.cancel(scope='col') cancel
            tbody
              tr
                th.idcount(scope='row') 1
                td.musicname Mark
                td.cancel 
                  button.close(type='button', aria-label='Close')
                    span(aria-hidden='true') X
              tr
                th.idcount(scope='row') 2
                td.musicname Kark
                td.cancel 
                  button.close(type='button', aria-label='Close')
                    span(aria-hidden='true') X
    
    #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog-centered(role='document')
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Modal title
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .input-group.input-group-sm.mb-3
              input.form-control(type='text', aria-label='Small', aria-describedby='inputGroup-sizing-sm')
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
            button.btn.btn-primary.submusic(type='button') Save changes


    // 1. The <iframe> (and video player) will replace this <div> tag.
    //- #player
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
    script(src='/javascripts/playlist.js')
    script(src='/javascripts/ytplayer.js')
    script(src='/javascripts/index.js')