body{
	background: #282828;
	color: #FAFAFA;
  font-family:'Roboto', '黑體-繁', '微軟正黑體', sans-serif !important;
  font-weight: bold ;
}
.col-sm-6{
	height: 100%;
	width: 100%;
}
.container, .row{
	height: 90vh;
	width: 90vw;
}

.row{
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}