body{
	background: #282828;
	color: #FAFAFA;
  font-family:'Roboto', '黑體-繁', '微軟正黑體', sans-serif !important;
	font-weight: bold ;
	overflow-y: hidden;
}

.idcount{
	width: 20px !important;
}

.video{
	height: 100%;
	width: 100%;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.container-fluid, .row{
	margin: 0px;
	margin-top:25px;
	height: 95vh;
	width: 95vw;
}

.row{
	display: flex;
	text-align: center;
	justify-content: center;
}

#player, #banner{
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 4px;
	box-shadow: 1px 1px 15px #777;
}

#banner{
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 0;
	background-image: url('/images/back2.png');
}

table{
	font-size: 14px;
	font-weight: 400;
	margin-top: 20px;
	margin-left: 10px;
}

.cancel{
	width: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.close{
	font-size: 30px;
	-webkit-text-stroke: 0.5px white;
	line-height: 15px;
}

th, td{
	padding: 0px !important;
	padding-top: 6px !important;
	padding-bottom: 6px !important;
}

.idcount{
	width: 20%;
}

.musicname{
	width: 70%;
}

.col-sm-3, .col-sm-9{
	padding: 3px;
}

.modal-content{
	width: 50%;
	height: 300px;
}

.modal-dialog-centered{
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content{
	background: #282828;
	border-radius: 12px;
	box-shadow: 1px 1px 20px white;
	text-shadow: 1px 1px 1px white;
	width: 450px;
	height: 250px;
}

input{
	background: #282828 !important;
}

.modal-content button{
	text-shadow: 0.5px 0.5px 0.5px white;
	box-shadow: 0.5px 0.5px 0.5px white;
}

.button-group button{	
	display: flex;
	justify-content: center;
	align-items: center;
}
.button-group{	
	display: flex;
	align-items: center;
	justify-content: center;
}